body:has(div.main-banner){
    overflow-x: hidden;
}
.container-with-bg{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.conatiner-without-bg > .App{
    min-height: 100vh;
}
.main-banner img{
    object-fit: contain;
    max-width: 100%;
}
.main-banner h1{
    font-size: 7em;
    color: #ffffff;
}
.main-banner p{
    font-size: 3em;
    color: #ffffff;
}
.main-banner img {
    object-fit: contain;
    max-width: 100%;
}